body {
    color: var(--slategray);
}

h1 {
    text-align: center;
    color: var(--slategray);
}

.link {
    color: var(--main-blue);
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

main {
    padding-left: 0px;
}

#repairTree {
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#repairTree>div {
    width: min-content;
    height: inherit;
    margin-bottom: 10px;
}

#commonSelectDiv {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 150px 325px;
}
 #optionSelectDiv {
     display: grid;
     grid-template-rows: auto;
     grid-template-columns: 100px 250px;
 }

#warrantyDiv {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 175px 25px;
}

#warrantyTitle,#optionSelectTitle,#commonTitle {
    text-align: right;
}

#resetButton {
    width: min-content;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 25px;
    height: min-content;
    
}

#repairTree select {
    margin-left: 10px;
}

#repairTree input {
    margin-left: 10px;
}

.textInput {
    width: 100%;
}

#forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#GSXSideDiv,#SROSideDiv {
    width: 40vw;
    min-width: 500px;
}

.formDiv {
    width: 90%;
    height: min-content;
    margin: 20px;
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    padding: 15px;
}

#GSXIssueDiv {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 150px auto;
}

#GSXCosmeticDiv {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 150px auto;
}

#GSXWarrantyDiv {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 75% 150px auto;
    height: 30px;
    
}

#GSXRecommended {
    grid-column: 1;
}

#GSXWarranty {
    grid-column: 2;
}

#GSXWarrantyCheck {
    grid-column: 3;
    width: 15px;
}

#GSXButtonDiv, #SROButtonDiv {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: auto auto;
    margin-top: 10px;
}

#forms button {
    width: 80%;
    margin-left: 10%;
}

#GSXOutputText , #SROOutputText {
    margin-top: 25px;
}

form input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 23px;
    padding-left: 5px;
}

textarea {
    padding-left: 5px;
}

#SROFormGrid {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 100px auto;
}

#SROForm select {
    width: 175px;
}

#SROForm input {
    width: 225px;
}

#SRONotesDiv>p {
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    #GSXSideDiv,#SROSideDiv {
        width: 80vw;
    }
}