body {
    height: 100%;
}

main {
    color: var(--slategray);

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;

    width: 70%;
}

#pageTitle {
    margin-top: 0px;
    font-size: 40px;
}

#projectList {
    margin-top: 2.5%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.listItem {
    border: 2px;
    border-radius: 15px;
    background-color: #eeeeee;

    display: grid;
    grid-template-columns: 20% 10% 50% 20%;
    grid-template-rows: 70% 30%;
    height: 100px;

    margin-bottom: 25px;
}

.listTitleBox {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.listDateBox {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.listLanguageBox {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.listDescriptionBox {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 5px;
}

.listProjectLinkBox {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.listTitle {
    height: 100%;
    font-size: 30px;
    padding-left: 15px;
    padding-top: 5px;
}

.listDate {
    padding-left: 20px;
}

.listDescription {
    padding-top: 5px;
}

.listItem:hover .listProjectLinkBox {
    background-color: #e0e0e0;
}

.listProjectLinkText {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 0px;
}