header {
    background-color: var(--slategray);

    display: grid;

    height: 150px;
    width: 100vw;

    box-shadow: 0 4px 2px -2px var(--slategray);
}

.quicklinksItemDiv {
    height: 50px;
    background-color: var(--color-primary-0);
    transform: skewX(-30deg);
}

.quicklinksItemDiv:hover {
    background-color: var(--color-primary-4);
}

.quicklinksItem {
    height: 100%;
    color: white;
    line-height: 50px;
    text-align: center;
    vertical-align: center;
    transform: skewX(30deg);
    font-size: 1.5rem;
    font-weight: 175%;
}

/* Desktop */

@media screen and (min-width: 1000px) {
    header {
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-rows: 100%;
    }

    #titleDiv {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #siteTitle {
        height: 100px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #quicklinksDiv {
        height: 50px;

        padding-top: 50px;
        padding-bottom: 50px;

        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
    }

    .quicklinksItemDiv {
        width: 90%;
    }

    /* quicklinks Item grid layout */

    .quicklinksItemDiv:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .quicklinksItemDiv:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .quicklinksItemDiv:nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .quicklinksItemDiv:nth-child(4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }
}

/* Mobile */

@media screen and (max-width: 1000px) {
    header {
        height: 250px;

        grid-template-columns: 5% auto 5%;
        grid-template-rows: 10px 100px auto 110px 10px;
    }

    #titleDiv {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #siteTitle {
        height: 100px;
        width: 100%;
    }

    #quicklinksDiv {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;

        display: grid;
        grid-template-columns: auto 0% auto;
        grid-template-rows: 50px auto 50px;

        padding-left: 2.7%;
    }

    .quicklinksItemDiv {
        width: 95%;
    }

    .quicklinksItemDiv:nth-child(1) {
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 2;
        grid-column-end: 2;
    }

    .quicklinksItemDiv:nth-child(2) {
        grid-row-start: 1;
        grid-column-start: 3;

        grid-row-end: 2;
        grid-column-end: 4;
    }

    .quicklinksItemDiv:nth-child(3) {
        grid-row-start: 3;
        grid-column-start: 1;

        grid-row-end: 4;
        grid-column-end: 2;
    }

    .quicklinksItemDiv:nth-child(4) {
        grid-row-start: 3;
        grid-column-start: 3;

        grid-row-end: 4;
        grid-column-end: 4;
    }
}