body {
    height: 100%;
}

main {
    color: var(--slategray);

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;

    width: 70%;
}

#pageTitle {
    margin-top: 0px;
    font-size: 40px;
}

#projectList {
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.listItem {
    border: 2px;
    border-radius: 15px;
    background-color: #eeeeee;
    margin-bottom: 25px;
}

/* Desktop */

@media screen and (min-width: 1000px) { 
    .listItem {
        display: grid;
        grid-template-columns: 20% 10% 50% 20%;
        grid-template-rows: 70% 30%;
        height: 100px;
    }
    
    .listTitleBox {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .listDateBox {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .listLanguageBox {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .listDescriptionBox {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-right: 5px;
    }
    
    .listProjectLinkBox {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .listTitle {
        height: 100%;
        font-size: 30px;
        padding-left: 15px;
        padding-top: 5px;
    }
    
    .listDate {
        padding-left: 20px;
    }
    
    .listDescription {
        padding-top: 5px;
    }
    
    .listItem:hover .listProjectLinkBox {
        background-color: #e0e0e0;
    }
    
    .listProjectLinkText {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 0px;
    }
}

/* Mobile */

@media screen and (max-width: 1000px) {
    .listItem {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 10% 50% 15%;
        height: 400px;
    }

    .listTitleBox {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .listDateBox {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .listLanguageBox {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .listDescriptionBox {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .listProjectLinkBox {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .listTitle {
        text-align: center;
        line-height: 100%;
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .listProjectLinkBox {
        background-color: #e0e0e0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .listDate, .listLanguage, .listProjectLinkText {
        text-align: center;
    }

    .listDescription {
        padding-left: 5%;
        width: 90%;
    }

    .listProjectLinkText {
        padding-top: 20.8px;
        padding-bottom: 20.8px;
    }
}